body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #F78B14;
}
h1, h2, h4 {
    text-align: center;
}

h6 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.fulldiv {
    background-color: #F7F7F7;

    /* just in case there no content*/
    padding: 20px;
    margin: 50px;

    /* Shaduw en ronde borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.contentdiv{
    background-color: #F2F2F2;
    padding: 20px;
    margin: 50px;

    /* Shaduw en ronde borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.columndiv {
    width: 23%;
    padding: 20px;
    margin: 5px;
    background-color: #F2F2F2;
    alignment: left;
    /* Shaduw en ronde borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.columndiv2 {
    width: 23%;
    padding: 20px;
    margin: 5px;
    background-color: #F2F2F2;
    alignment: left;
    /* Shaduw en ronde borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.flex-container {
    display: flex;
    background-color: #F2F2F2;
    padding: 20px;
    margin: 50px;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 24%;
    padding: 20px;
    margin: 5px;
    background-color: #F2F2F2;
    alignment: left;
    /* Shaduw en ronde borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
    .columndiv {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}

.nicebtn {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    text-decoration: none;
}

.nicebtn:hover {
    background-color: #fff199;
    color: white;
}

.oefening {
    background-color: #ffc04c;
    color: white;
    border-radius: 25px;
    border: 2px solid #ffc04c;
    text-align: center;
}

#trainingen {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#trainingen td, #gebruikers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#trainingen tr:nth-child(even){background-color: #f2f2f2;}

#trainingen th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F78B14;
    color: white;
}

