body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    background-repeat: repeat;
    background-color: #F78B14;
}
#gebruikers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#gebruikers td, #gebruikers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#gebruikers tr:nth-child(even){background-color: #f2f2f2;}

#gebruikers tr:hover {background-color: #ddd;}

#gebruikers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F78B14;
    color: white;
}